body {
	background-color: #61122f;
	color: #fff;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
}

/*<!-- Header Starts -->*/

#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url(../images/logo1.png) no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}

.navbar-brand p span {
	vertical-align: middle;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #951c49;
	text-align: center;
}

#nav-list a:hover {
	background: #e7e7e7;
}

#nav-list a span {
	font-size: 1.8em;
}

#phone {
	margin-top: 5px;
}

#phone a {
	text-align: right;
	padding-bottom: 0;
}

#phone div {
	text-align: right;
	color: #557c3e;
	padding-right: 15px;
}

.navbar-header button .navbar-toggle .navbar .icon-bar {
	border:1px solid #61122f;
}

.navbar-header button .navbar-toggle {
	clear: both;
	margin-top: -30px;
}

/*<!-- Header Ends -->*/

.container .jumbotron {
	margin: 10px auto 10px;
}

/*<!-- Footer Starts -->*/

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div .row {
	margin-bottom: 35px;
}

#hours, #address {
	line-height: 2;
}

#hours span, #address span {
	font-size: 1.3em;
}

#address p {
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}

#testmonials {
	font-style: italic;
}

#testmonials p:nth-child(2) {
	margin-top: 25px;
}


/*<!-- Footer Ends -->*/

/*<!-- Menu tiles starts -->*/

#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}

#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/*<!-- Menu tiles ends -->*/

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/*<!-- For large devices-->*/

@media (min-width: 1200px) {
	.container .jumbotron {
		background: url(../images/jumbotron_1200.jpg) no-repeat;
		height: 657px;
	}
}

/*<!-- For medium devices-->*/

@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img {
	background: url(../images/logo2.png) no-repeat;
	width: 100px;
	height: 100px;
	margin: 5px 10px 5px 0;
	}
	.container .jumbotron {
		background: url(../images/jumbotron_992.jpg) no-repeat;
		height: 558px;
	}
}

/*<!-- For small devices-->*/

@media (min-width: 768px) and (max-width: 991px) {
	#logo-img {
		background: url(../images/logo3.png) no-repeat;
		width: 70px;
		height: 70px;
		margin-top: 20px;
		margin-right: 0;
	}
	.container .jumbotron {
		background: url(../images/jumbotron_768.jpg) no-repeat;
		height: 432px;
		border: 10px;
	}
}

/*<!-- For extra-small devices-->*/

@media (max-width: 767px) {
	#logo-img {
		background: url(../images/logo3.png) no-repeat;
		width: 50px;
		height: 50px;
		margin-top: 15px;
		margin-left: 10px;
		margin-right: 0;
	}
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand p {
		font-size: .6em;
		margin-top: 12px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}
	.navbar-brand p img {
		height: 20px;
	}
	#collpsable-nav a {
		font-size: 1.2em;
	}
	#collpsable-nav a span {
		font-size: 1em;
		margin-top: 5px;
	}
	#call-btn > a {
		font-size: 1.5em;
		display: block;
		margin: 0 20px;
		padding: 10px;
		border: 2px solid #fff;
		background-color: #f6b319;
		color: #951c49;
	}
	#xs-deliver {
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform: uppercase;
		color: 
	}
	.container .jumbotron {
		padding: 0px;
	}
	#menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

	/* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/

@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}